<List :route="route" :onClick="onClick" :doInsetDivider="true">
  <template slot-scope="props">
    <md-button class="play-button md-primary md-raised md-icon-button">
      <md-icon>play_arrow</md-icon> <!-- todo pause button -->
    </md-button>
    <span class="md-list-item-text">
      <span>{{props.item.Path}}</span>
      <span class="md-caption">Duration: {{toReadable(props.item.Duration)}}</span>
    </span>
    <md-button class="md-list-action" @click="addToPlaylist(props.item, $event)">
      <md-icon class="md-primary">playlist_add</md-icon>
    </md-button>
  </template>
</List>
