<List :route="route" :valueKey="valueKey" :destination="destination" :payload="payload">

  <template slot-scope="props">

    <md-avatar class="md-avatar-icon">
      {{props.item.Name.substr(0, 2)}}
    </md-avatar>

    <div class="md-list-item-text">
      <span class="md-title">{{props.item.Name}}</span>
      <span v-if="props.item.Disambiguation">{{props.item.Disambiguation}}</span>
      <p v-if="props.item.Aliases && props.item.Aliases.length > 0" class="md-caption">
        a.k.a. {{props.item.Aliases.map(x => x.Name).join(', ')}} </p>
    </div>

    <md-button class="md-icon-button md-list-action">
      <md-icon class="md-primary">keyboard_arrow_right</md-icon>
    </md-button>
  </template>
</List>

