<Repeater :route="repeater.global.route" :dataSource="dataSource" :doPreload="repeater.global.doPreload" :payload="payload">

  <template slot-scope="props">
    <div class="clean-list md-layout md-gutter md-alignment-top-left">
      <template v-for="item in props.data">
        <md-card md-with-hover :key="item.UniqueId" class="entry md-layout-item">

          <md-card-header>
            <div class="md-title">{{item.Title}}</div>
            <span class="md-subheading" v-if="item.Disambiguation">{{item.Disambiguation}}</span>
          </md-card-header>

          <md-card-content>
            <span class="md-caption">
              <span v-if="item.Date">Date: {{item.Date.substr(0, 10)}}<br/></span>
              <span v-if="item.Country">
                Country: <img class="md-layout-item country-flag"
                              :src="`/static/countries/${item.Country}.svg`"
                              :alt="item.Country"/> {{item.Country}}<br/></span>
              <span v-if="item.Status">Status: {{item.Status}} <br/></span>
              <span v-if="item.Quality">Quality: {{item.Quality}} <br/></span>
            </span>

            <div>
              <p class="md-body-2">Credits:</p>
              <Repeater :route="repeater.artists.route"
                        :payload="getArtistPayload(item.UniqueId)"
                        :valueKey="repeater.artists.valueKey">
                <template slot-scope="props">
                  <template v-for="ac in props.data">
                    <md-chip class="md-accent small-badge" md-clickable @click="doRouteArtist(ac.Artist.UniqueId)">
                      <small>{{ac.Artist.Name}}</small>
                    </md-chip>
                  </template>
                </template>

                <template slot="more" slot-scope="props">
                  <md-chip class="small-badge" md-clickable @click="props.loadMore">
                    more
                    <md-icon>expand_more</md-icon>
                  </md-chip>
                </template>
              </Repeater>
            </div>
          </md-card-content>

          <md-card-actions>
            <md-button @click="doRoute(item.UniqueId)">
              <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
          </md-card-actions>

        </md-card>
      </template>
    </div>
  </template>
</Repeater>
