<md-speed-dial class="md-bottom-right hide-on-large top-most" md-direction="top" md-event="click">
  <md-speed-dial-target>
    <md-icon class="md-morph-initial">group_work</md-icon>
    <md-icon class="md-morph-final">album</md-icon>
  </md-speed-dial-target>

  <md-speed-dial-content>
    <md-button class="md-icon-button md-raised" :to="routes.private.tracks.root">
      <md-icon>view_headline</md-icon>
      <md-tooltip md-direction="left">Tracks</md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-raised" :to="routes.private.records.root">
      <md-icon>view_list</md-icon>
      <md-tooltip md-direction="left">Records</md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-raised" :to="routes.private.releases.root">
      <md-icon>view_agenda</md-icon>
      <md-tooltip md-direction="left">Releases</md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-raised" :to="routes.private.artists.root">
      <md-icon>people</md-icon>
      <md-tooltip md-direction="left">Artists</md-tooltip>
    </md-button>
  </md-speed-dial-content>
</md-speed-dial>
