<SubContentHub>
  <template>
    <div>
      <span class="md-title">{{name}}</span>
      <div class="md-caption">this release got published in<span v-if="countries.length > 0">
            in <b>{{countries.length}}</b>
          countr{{countries.length === 1 ? 'y' : 'ies'}}
          </span> in <b>{{variations}}</b> variation{{variations > 1 ? 's' : ''}}
      </div>
      <span v-for="c in countries" :key="c">
        <img class="md-layout-item country-flag" :src="`/static/countries/${c}.svg`" :alt="c"/>
        <md-tooltip md-direction="bottom">{{c}}</md-tooltip>
      </span>

      <div v-if="dataLoader.isLoading">
        <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
      </div>
    </div>
  </template>

  <template slot="tabs">
    <md-tab :to="uriRecords" md-label="Records"></md-tab>
    <md-tab :to="uriArtists" md-label="Artists"></md-tab>
    <md-tab :to="uriVariations" md-label="Variations"></md-tab>
  </template>
</SubContentHub>
