<span>
  <template v-if="showUpperSpinner">
    <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
  </template>

  <template v-if="showEmptyState">
    <md-empty-state md-label="Nothing here"
                    md-description="You see this because there is nothing else to display here."></md-empty-state>
  </template>

  <template>
    <slot></slot>
  </template>

  <template v-if="dataLoader">
    <template v-if="dataLoader.isLoading">
      <div>
        <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
      </div>
    </template>
    <template v-else-if="dataLoader.hasMore()">
      <slot name="more"></slot>
    </template>
  </template>
</span>
