<span>
  <span v-if="hasMore && doPreload">
    <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
  </span>

  <span v-if="!hideEmptyState && !hasMore && Object.keys(this.data).length === 0">
    <md-empty-state md-label="Nothing here"
                    md-description="You see this because there is nothing else to display here."></md-empty-state>
  </span>
  <slot :data="data"></slot>

  <span v-if="hasMore && !doPreload">
    <span v-if="isLoading">
      <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
    </span>
    <slot name="more" :loadMore="loadMore" v-else></slot>
  </span>
</span>
