<SubContentHub>
  <template>
    <span :key="`__1`" v-if="dataLoader.isLoading">
      <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
    </span> <span :key="`__2`" v-else>
       <span class="md-title">{{dataLoader.dataSource.data.Name}}</span>
       <span v-if="dataLoader.dataSource.data.Disambiguation">{{dataLoader.dataSource.data.Disambiguation}}</span>
       <p v-if="dataLoader.dataSource.data.Aliases && dataLoader.dataSource.data.Aliases.length > 0" class="md-caption">
         a.k.a. {{dataLoader.dataSource.data.Aliases.map(x => x.Name).join(', ')}}
       </p>
    </span>
  </template>

  <template slot="tabs">
    <md-tab id="tab-releases" md-label="Releases" :to="getReleasesById"></md-tab>
    <md-tab id="tab-records" md-label="Records" :to="getRecordsById"></md-tab>
  </template>

</SubContentHub>
