<div class="clean">
  <md-toolbar class="md-transparent" md-elevation="0">
    Music
  </md-toolbar>

  <md-list-item :to="routes.private.artists.root">
    <md-icon>people</md-icon>
    <span class="md-list-item-text">Artists</span>
  </md-list-item>

  <md-list-item :to="routes.private.releases.root">
    <md-icon>view_agenda</md-icon>
    <span class="md-list-item-text">Releases</span>
  </md-list-item>

  <md-list-item :to="routes.private.records.root">
    <md-icon>view_list</md-icon>
    <span class="md-list-item-text">Records</span>
  </md-list-item>

  <md-list-item :to="routes.private.tracks.root">
    <md-icon>view_headline</md-icon>
    <span class="md-list-item-text">Tracks</span>
  </md-list-item>

  <template v-if="canInvite">
    <md-toolbar class="md-transparent" md-elevation="0">
      Other
    </md-toolbar>
    <md-list-item :to="routes.private.invite">
      <md-icon>person_add</md-icon>
      <span class="md-list-item-text">Invites</span>
    </md-list-item>
  </template>

</div>
