<md-content class="">

  <span @click="progressClicked($event) ">
    <md-progress-bar class="bar" md-mode="determinate" :md-value="progress"></md-progress-bar>
  </span>
  <div class="md-layout md-alignment-center-center" v-if="entry && entry.track">
    <span class="md-caption">{{entry.title}}</span>
  </div>

  <div class="md-layout md-gutter md-alignment-center-center">
    <span class="currentTime">
      {{currentTimeLabel}}
    </span>

    <md-button class="md-fab md-mini md-raised md-plain" @click="previous">
      <md-icon>skip_previous</md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-raised md-plain">
      <md-icon>replay_10</md-icon>
    </md-button>

    <md-button class="md-fab md-raised md-elevation-3" :class="isLoading ? 'md-plain' : 'md-primary'" @click="mainAction">
      <md-icon :key="Math.random()" v-if="isReady">play_arrow</md-icon>
      <md-icon :key="Math.random()" v-else-if="isPlaying">pause</md-icon>
      <md-icon :key="Math.random()" v-else-if="isLoading">
        <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
      </md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-raised md-plain">
      <md-icon>forward_10</md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-raised md-plain" @click="next">
      <md-icon>skip_next</md-icon>
    </md-button>

    <span class="totalTime">
      {{trackDurationLabel}}
    </span>

    <router-link class="playlist" :to="routePlaylist">
      <md-icon>playlist_play</md-icon>
    </router-link>

  </div>
</md-content>
