.content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, .35);
}

@media (min-width: 960px) {
  .details {
    min-width: 500px;
  }
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.action-button {
  flex-grow: 1;
  margin-right: 0;
  margin-left: 0;
}

.md-scrollbar {
  min-height: 200px;
  max-height: 350px;
  overflow: auto;
  margin-top: 20px;
}

.details {
  max-width: calc(100% - 50px);
  max-height: calc(100% - 50px);
  padding: 20px;
  width: auto;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(150, 150, 150, .2);
  text-align: center;
}
