<SubContentHub>
  <template>
    <div>
      <template v-if="isLoading">
        <span :key="Math.random()">
          <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
        </span>
      </template>
      <template v-else>
        <md-button class="play-button md-primary md-raised md-icon-button" @click="play">
          <md-icon>play_arrow</md-icon>
        </md-button>
        <md-button class="play-button md-raised md-icon-button" @click="addToPlaylist">
          <md-icon>playlist_add</md-icon>
        </md-button>
        <div class="md-title">{{name}}</div>
        <div class="md-subheading" v-if="disambiguation">{{disambiguation}}</div>
        <div class="md-caption">
          <div v-if="aliases">a.k.a. {{aliases}}</div>
          <div>
            <span class="md-icon" :style="matchIconStyle">
              {{matchIcon}}
              <md-tooltip>Match: {{(match*100).toFixed(3)}}% / {{matchLabel}}</md-tooltip>
            </span> {{duration}}
          </div>
        </div>
      </template>
    </div>
  </template>

  <template slot="tabs">
    <md-tab :to="uriArtists" md-label="Artists"></md-tab>
    <md-tab :to="uriReleases" md-label="Releases"></md-tab>
  </template>
</SubContentHub>
