<div class="md-layout-column">

  <md-app class="page-content" md-mode="fixed" md-waterfall>

    <md-app-toolbar class="clean">
      <Toolbar/>
    </md-app-toolbar>

    <md-app-drawer md-active.sync="true"
                   md-fixed
                   md-permanent="clipped"
                   class="md-xsmall-hide md-small-hide md-elevation-3 drawer">
      <Drawer/>
    </md-app-drawer>

    <md-app-content class="md-elevation-0">
      <FloatingActionButton/>
      <router-view/>
    </md-app-content>

  </md-app>

  <Snackbar :data="dataSnackbar" class="snackbar"/>
  <Footer class="footer"/>

</div>
